.taskContainer {
  background-color: #2a2b38;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;

  h4 {
    color: #fff;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    background-color: #14151b;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.taskFooter {
  display: flex;
  margin-top: 3rem;

  button {
    background: transparent;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  .data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffb800;
    width: 70%;
  }

  p {
    margin-left: 0.5rem;
  }
}

.btnDeleteTask {
  margin-left: auto;
}

.btnUpdateTask {
  margin-left: auto;
  width: 15%;
}

.trashIcon {
  margin-right: 0.5rem;
  width: 15%;
}
