.container {
  display: flex;
}

.button {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: default;
}

.icon {
  margin-right: 0.5rem;
}

.photoUser {
  img {
    margin-right: 0.5rem;
    border-radius: 50%;
    width: 40px;
  }
}

.logOutIcon {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
}
